@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    -webkit-user-select: none;
    user-select: none;
}

.align-items-center{
    align-items: center !important;
}

.justify-content-between{
    justify-content:space-between !important ;
}

.confirmation-content{
    display: flex ;
    align-items: center;
}

@media screen and (max-width: 328px) {
    #root{
        display: none !important;
    }

    #lowScreenMessage{
        display: block !important;
    }
}
